div(ui-content-for='title')
    span 假条审批
div(ui-content-for='uiSidebarLeft')
    .btn.sidebar-toggle(ui-toggle='uiSidebarLeft')
        i.fa.fa-bars
.scrollable
    .scrollable-header.section(style='padding:2px')
        .input-group
            .input-group-btn
                button.btn.btn-info.btn-block.dropdown-toggle(type='button'
                style='border-radius: 7px;' ui-toggle='dropMenu') ----{{typename[query.type]}}----
                    span.caret
                ul.dropdown-menu(ui-if='dropMenu' ui-state='dropMenu' ui-turn-off='dropMenu')
                    li(ng-repeat="(key,val) in typename"
                    style='border-bottom: solid 0.5px rgb(221, 221, 221);' ng-hide='key=="default"')
                        a(ng-click='query.type=key') {{val}}
    .scrollable-content.section
        table.table.table-strips
            thead
                th.text-center 学号
                th.text-center 姓名
                th.text-center 审批状态
            tbody
                tr(ng-repeat-start='item in pageItems[currentPage]'
                ng-click='toggleMenu($event)')
                    td.text-center {{item.sid}}
                    td.text-center {{item.nickname}}
                    td.text-center(
                        ng-class='item.submitResult==0?"red":""') {{statusType[item.submitResult]}}
                tr.self-hide(ng-repeat-end)
                    td(colspan=3 style='padding: 8px 0px')
                        .btn.btn-block.btn-success(ng-click='editLeave(item)') 查看信息
    .scrollable-footer.section
        nav
            ul.pager
                li(ng-class='{disabled:currentPage==0}')
                    a(ng-click='prevPage()') 上一页
                span {{currentPage+1}}/{{pageItems.length+(pageItems.length==0?1:0)}}
                li(ng-class='{disabled:currentPage==pageItems.length-1}')
                    a(ng-click='nextPage()') 下一页
