<h1 class="scrollable-header app-name">辅导员网上工作室</h1>
<div class="scrollable-content" ui-yield-to="sidebar">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
        <a class="list-group-item" href="#/"><i class="fa fa-pencil"></i> 基本信息<i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/logo"><i class="fa fa-user"></i> 头像设置<i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/schedule"><i class="fa fa-book"></i>   课程表<i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/changepwd"><i class="fa fa-lock"></i> 密码设置<i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/leave" ><i class="fa fa-paper-plane"></i> 假条信息<i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/leave/ask"><i class="fa fa-plus-circle"></i> 新的假条<i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item list-group-item-danger" href="/logout">退出<i class="fa fa-power-off pull-right "></i></a>
        <!--<a class="list-group-item" href="#/scroll">Scroll <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/toggle">Toggle <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/tabs">Tabs <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/accordion">Accordion <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/overlay">Overlay <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/forms">Forms <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/dropdown">Dropdown <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/drag">Drag 1 <span class="label label-danger">Experimental</span> <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="#/carousel">Drag 2 <span class="label label-danger">Experimental</span> <i class="fa fa-chevron-right pull-right"></i></a>-->
    </div>
</div>
</div>