div(ui-content-for="title")
    span 关注企业号
.scrollable
    .scrollable-content.section
        .panel.panel-default
            .panel-heading 二维码
            .panel-body
                .alert.alert-info 请通过二维码关注企业号方便获取相应信息
                .thumbnail
                    img(src='/images/qy_QR.jpg')